/*
	Archivo:  estilos.css
	Autor: Carlos Gómez;
	------------------------
	Este archivo contiene los estilos que se usaran en mi pagina web para mostrar el contenido
*/

@charset "UTF-8";


/* Elimina las margenes por defecto del navegador */
* {
	margin:0;
	padding:0;
}

/*  Se crea un identificador (es unico) que contiene el titulo de la pagina
    Tiene de alto 70pixeles, se indica que los elementos estaran alineados verticalmente
    en la mitad. */
#titulo{
	align: center;
	background-color: #009bcc;
	height: 70px;
	vertical-align: middle;
}

/* Aquí se indica que cuando se tenga un atributo imagen se adapte al tamaño de la seccion titulo */
#titulo img{
	height: 70px;
	width: auto;
}

/* Se crea un estilo para redondear */
.redondear {
    border-radius: 50%;
    overflow: hidden;
    height: 100%;
    width: auto;
    margin: 40px;
    /*position: relative;*/
}

/* Para cada imagen le aplicara redondear */
.redondear img {
  display: inline;
	width: 100%;
	height: 100%;
}

/* Se indica el estilo de la barra de navegación */
/*Fixed nos permite dejar la barra fija al hacer scroll en la pagina*/
.navegacion {
	list-style-type: none;
	overflow: hidden;
	position: fixed;
	text-align: center;
	/*margin-top: 20px;*/
	top: 0;
	left: 0;
	right: 0;
}

.navegacion li {
	display: inline;
	float: left;
	padding-right: 50px;

}

.navegacion ul {
	align: center;
	overflow: hidden;
    /*list-style-type: none;*/
    margin: 0;
    padding: 15px 20px;
    background-color: #0088b3;


}

.navegacion li a {
	display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

hr {
    max-width: 350px;
    border-color: #a9a9a9;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*
	Se define el tipo de letra predeterminado para cada etiqueta que involucra texto.
	La tipografia predeterminada es Segoe UI. Si el navegador no la 
*/
h1, h2, h3, h4, a {
	font-family: "Segoe UI", Helvetica, Verdana, sans-serif;
	color: #a9a9a9;
}

p {
	font-family: "Segoe UI", Helvetica, Verdana, sans-serif;
	/*color: #cfcfcf;*/
	color: #838383;
}

/* Grupo de bloques en la pagina */
.grupo {
	margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
}

.fin {
  left: 0;
  right: 0;
  margin: 0;
  clear: both;
    position: inline;
    color: white;
    text-align: center;
    background-color: #009bcc;
    height: 70px;

}

/*
	- width Me permite adaptar el contenido de la pagina al 100% de su tamaño
	******* Buscar realizar responsive *******s
*/

.bloque{
	float: left;
	margin: 10px;
	padding: 10px;
	width: 400px;
	height: auto;
  text-align: justify;
	/*background: url(../images/png/transparencia.png) repeat;*/
	/*border: 1px solid write;*/
}

.ampliacion {
	float: left;
	margin: 10px;
	padding: 10px;
	/*background: url(../images/png/transparencia.png) repeat;*/
}

.ampliacion p {
	color: #cfcfcf;
}

.ampliacion .redondear{
	border-radius: 3%;
    overflow: hidden;
    height: 30%;
    width: auto;
    margin: 40px;

}


#acercade {
  float: right;
}


.navegacion li a:hover:not(.active) {
    background-color: #111;
}

.navegacion .active {
    background-color: #c7f1ff;
    list-style-image: url(../images/png/man.png);
    color: #0088b3;
    font-weight: bold;
}


body {
	/* width:100%; */
	background-color: #f5f5f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*****************************************************************/
/* presentacion STRUCTURE */

/* La presentacion de imagenes se adapto del ejemplo dado en 
	https://www.smashingmagazine.com/2012/04/pure-css3-cycling-slideshow/

	*/

.contenedor {
	margin:0 auto;
	overflow:hidden;
	width:320px;
	position: relative;
	z-index: -1;
}

#presentacion {
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 400px;
   width: 320px;
   /*margin-top: 180px;*/
   /*left: 120px;*/
   overflow: visible;
   position: relative;
}

/* HIDE ALL OUTSIDE OF THE presentacion */

#mask {
   overflow: hidden;
   height: 400px;
}

/* IMAGE LIST */

#presentacion ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#presentacion li {
   width: 480px;  /* Width Image */
   height: 480px; /* Height Image */
   position: absolute;
   top: -480px; /* Original Position - Outside of the presentacion */
   list-style: none;
}

#presentacion li.firstanimation {
   animation: cycle 25s linear infinite;
}

#presentacion li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#presentacion li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#presentacion li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#presentacion li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}

/* ANIMATION */

@keyframes cycle {
   0%  { top: 0px; } /* When you start the slide, the first image is already visible */
   4%  { top: 0px; } /* Original Position */
   16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
   20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
   21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Original Position */
   16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
   40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 325px; opacity: 0; z-index: 0; }
}
/* PROGRESS BAR */

.progress-bar {
   position: inline;
   top: -5px;
   width: 680px;
   height: 5px;
   left: 120px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}

/* ANIMATION BAR */

@keyframes fullexpand {
   /* In these keyframes, the progress-bar is stationary */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* In these keyframes, the progress-bar starts to come alive */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* In these keyframes, the progress-bar moves forward for 3 seconds */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* In these keyframes, the progress-bar has finished his path */
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* In these keyframes, the progress-bar will disappear and then resume the cycle */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}


#presentacion .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: absolute;
   bottom: 75px;
   /*left: -320px;*/
}

#presentacion .tooltip h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}


#presentacion .tooltip {
…
   transition: all 0.3s ease-in-out;
}

#presentacion li#first: hover .tooltip,
#presentacion li#second: hover .tooltip,
#presentacion li#third: hover .tooltip,
#presentacion li#fourth: hover .tooltip,
#presentacion li#fifth: hover .tooltip {
   left: 0px;
}

#presentacion: hover li,
#presentacion: hover .progress-bar {
   animation-play-state: paused;
}

/****************/

@media screen and (max-width: 480px) {

    .bloque{
    	width: 100%;
    	height: 100%
    	left:0;
    }

    .navegacion ul {
    	position: inline;
    	background-color: #00afe6;
    	text-decoration: none;
    	list-style: none;
    }

    .grupo{
    	margin-top: 0;
      margin-left: 15px;
      margin-right: 15px;
    }

    .navegacion{
    	position: static;
    }

    .navegacion li a {
      font-size: 0;
      padding-right: 0px;
      padding: 0;
      margin: 10;
      font-size: 75%;
    }

    .navegacion li {
      padding-right: 30px;
    }

    .bloque {
      width: 250px;
    }

    #finpagina {
      width: 480px;
    }

    #acercade {
      float: left;
    }

    .contenedor {
      width: 280px;
    }
}


@media screen and (max-height: 480px) {
   .navegacion{
      position: static;
    }

    .grupo{
      margin-top: 0;
    }

}
