/*
	Archivo:  estilos.css
	Autor: Carlos Gómez;
	------------------------
	Este archivo contiene los estilos que se usaran en mi pagina web para mostrar el contenido
*/

/*Se usa para que soporte caracteres Unicode*/
@charset "UTF-8";

/*Se importa una fuente del sitio Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300,400italic);


/* ****************** */
/* TITULO Y MENU DE NAVEGACIÓN */

/* Elimina las margenes por defecto del navegador */
* {
	margin:0;
}

/*  Se crea un identificador (es unico) que contiene el titulo de la pagina
    Tiene de alto 70pixeles, se indica que los elementos estaran alineados verticalmente
    en la mitad. */
#titulo{
	align: center;
	background-color: #009bcc;
	height: 70px;
	vertical-align: middle;
}

/* Aquí se indica que cuando se tenga un atributo imagen se adapte al tamaño de la seccion titulo */
#titulo img{
	height: 70px;
	width: auto;
}


/* Se indica el estilo de la barra de navegación. Se ocultan los estilos de tipo de lista (esto es:; viñetas, por ejemplo) */
/*Fixed nos permite dejar la barra fija al hacer scroll en la pagina*/
.navegacion {
	list-style-type: none;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
}

/*La separación de cada elemento del menu será de 50px a la derecha*/
.navegacion li {
  display: inline;
	float: left;
	padding-right: 50px;
}

/*  Overflow controla que la forma en que los elementos se comportan en su contenedor.
    Se usa hidden para que esconda los elementos. */
.navegacion ul {
  align: center;
  overflow: hidden;
  margin: 0;
  padding: 15px 20px;
  background-color: #0088b3;
}

/*Alinea el texto de cada opción en el menú al centro y se muestra en bloque. 
  Cada bloque se rellena con 25px en vertical y horizontal */
/*Se anula la decoración; en este caso que no muestre el subrayado de enlace*/
.navegacion li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

/* Esto nos permite ver en la barra de navegación cual es la pagina activa. El color es un azul claro
     y la fuente se mostrará en negrita. */
.navegacion .active {
    background-color: #c7f1ff;
    color: #0088b3;
    font-weight: bold;
}

/* Si no estan activos, pero si el mouse pasa encima de la opción, se coloreará negro*/
.navegacion li a:hover:not(.active) {
    background-color: #111;
}

/* Inidca que la opción del menu acerca de aparezca a la derecha de la pagina*/
#acercade {
  float: right;
}


/* ************** */
/* PAGINA */

/* Se crea un estilo para redondear.
    border-raduis nos permite modificar el radio del borde. 50% nos servira para crear un circulo.
    El tamaño es 90% para que no ocupe todo el tamaño. */
.redondear {
  border-radius: 50%;
  overflow: hidden;
  height: 90%;
  width: auto;
  margin: 40px;
  /*position: relative;*/
}

/* Para cada imagen le aplicara redondear. Inline dice que solo ocupara el espacio dado en el bloque
   donde se usara. Se muestra la imagen en tamaño completo. */
.redondear img {
  display: inline;
  width: 100%;
  height: 100%;
}

/*Se crea una linea de separación con tamaño fijo de 350px.*/
hr {
  max-width: 350px;
  border-color: #a9a9a9;
  border-top: 0;
  text-align: center;
  margin: 0 auto;
}

/*
	Se define el tipo de letra predeterminado para cada etiqueta que involucra texto.
	La tipografia predeterminada es Exo 2. Si el navegador no la admite buscará Helvetica, y así.
*/
h1, h2, h3, h4, a {
	font-family: "Exo 2", Helvetica, Verdana, sans-serif;
	color: #a9a9a9;
}

p {
	font-family: "Exo 2", Helvetica, Verdana, sans-serif;
	color: #838383;
}

/* Grupo de bloques en la pagina. Con margin-top le indico que se ubique a 200px del inicio de la pantalla.
   Esto se realiza con el fin de que no se muestre encima de la barra de navegación */
.grupo {
	margin-top: 200px;
  margin-left: 30px;
  margin-right: 30px;
}


/* Se realiza como una nueva sección en la pagina*/
.grupo2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
}

.otrogrupo {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0;
  clear: both;
}

/* Se crea para indicar el titulo dentro del bloque grupo*/
.encabezado{
  text-align: center;
  position: inline;
}

/*Bloque representa la división en grupo en zonas de 3. Tiene ancho fijo, el height si es auto.*/
.bloque{
	float: left;
	margin: 10px;
	padding: 10px;
	width: 380px;
	height: auto;
}

/* Indica que el texto de los parrafos se justifique. */
.bloque p {
  text-align: justify;
}

/*El color de fondo de la pagina será blanco*/
body {
	background-color: #f5f5f5;
}

/*****************************************************************/
/* PRESENTACION */

/* La presentacion de imagenes se tomó del ejemplo dado en 
	https://www.smashingmagazine.com/2012/04/pure-css3-cycling-slideshow/
  La intencion es formar una lista con las imagenes. Se mueven en la pantalla,
  pero se ocultan las que no están en el recuadro.
	*/

/*Si la imagen sobresale del bloque lo esconde (hidden).*/
/* Con z-index -1 se envia al fondo para que no interfiera con otros elementos de la pagina */
/*Se hace con el objetivo de contener las imagenes presentes en la presentacion*/

.contenedor {
	margin:0 auto;
	overflow:hidden;
  position: relative;
	z-index: -1;
}

/* Se fija el tamaño del bloque y se fija una posición relativa*/
#presentacion {
   border: 5px solid #eaeaea;
   height: 400px;
   width: 320px;
   left: 20px;
   position: relative;
}

/* Esconde las imagenes de la presentación */

#mask {
   overflow: hidden;
   height: 400px;
}

/*El contenedor es una lista de HTML*/
#presentacion ul {
   margin: 0;
   padding: 0;
   position: relative;
}

/*Cada elemento de la lista es una imagen*/
#presentacion li {
   width: 480px;  
   height: 480px;
   position: absolute;
   list-style: none;
}

#presentacion li.firstanimation {
   animation: cycle 25s linear infinite;
}

#presentacion li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#presentacion li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#presentacion li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#presentacion li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}

/* ANIMATION */
/* Se usa @keyframes para especificar el codigo de animación.*/
/* la imagen se mantiene durante  tres segundos, el codigo especifica cuando entra y sale
   y se ve en la animación durante un segundo. Las imagenes estan ordenadas. En total son 5.*/



@keyframes cycle {
   0%  { top: 0px; } /* Primera imagen visible al iniciar presentación */
   4%  { top: 0px; } /* Posicion original de la imagen */
   16% { top: 0px; opacity:1; z-index:0; } /* Imagen visible por 3 segundos */
   20% { top: 325px; opacity: 0; z-index: 0; } /* Sale la imagen durante un segundo */
   21% { top: -325px; opacity: 0; z-index: -1; } /* regresa a la posición original */
   92% { top: -325px; opacity: 0; z-index: 0; }
   96% { top: -325px; opacity: 0; } /* Espera que el resto pase. Entra para realizar presentacion*/
   100%{ top: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { top: -325px; opacity: 0; } /* Posicion original, esta por fuera de la presentacion */
   16% { top: -325px; opacity: 0; }/* Se mueve a esa posición */
   20% { top: 0px; opacity: 1; }
   24% { top: 0px; opacity: 1; }  /* Entra imagen al recuadro*/
   36% { top: 0px; opacity: 1; z-index: 0; }   /* La imagen es visible por 3 segundos */
   40% { top: 325px; opacity: 0; z-index: 0; } /* Sale imagen durante un segundo */
   41% { top: -325px; opacity: 0; z-index: -1; }   /* Vuelve a la posición original */
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { top: -325px; opacity: 0; }
   36% { top: -325px; opacity: 0; }
   40% { top: 0px; opacity: 1; }
   44% { top: 0px; opacity: 1; }
   56% { top: 0px; opacity: 1; }
   60% { top: 325px; opacity: 0; z-index: 0; }
   61% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { top: -325px; opacity: 0; }
   56% { top: -325px; opacity: 0; }
   60% { top: 0px; opacity: 1; }
   64% { top: 0px; opacity: 1; }
   76% { top: 0px; opacity: 1; z-index: 0; }
   80% { top: 325px; opacity: 0; z-index: 0; }
   81% { top: -325px; opacity: 0; z-index: -1; }
   100%{ top: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { top: -325px; opacity: 0; }
   76% { top: -325px; opacity: 0; }
   80% { top: 0px; opacity: 1; }
   84% { top: 0px; opacity: 1; }
   96% { top: 0px; opacity: 1; z-index: 0; }
   100%{ top: 325px; opacity: 0; z-index: 0; }
}


/* La clase muestra una animación con la barra de progreso, que espera 3 segundos*/
.progress-bar {
   position: inline;
   top: -5px;
   width: 680px;
   height: 5px;
   left: 120px;
   background: #000;
   animation: fullexpand 25s ease-out infinite;
}

/*Se muestra el progreso de la animación de la barra de progreso*/

@keyframes fullexpand {
   /* Sin animarse */
   0%, 20%, 40%, 60%, 80%, 100% { width: 0%; opacity: 0; }

   /* Inicia el movimiento */
   4%, 24%, 44%, 64%, 84% { width: 0%; opacity: 0.3; }

   /* Anima durante 3 segundos */
   16%, 36%, 56%, 76%, 96% { width: 100%; opacity: 0.7; }

   /* Finaliza...*/
   17%, 37%, 57%, 77%, 97% { width: 100%; opacity: 0.3; }

   /* Desaparece y se repite el ciclo */
   18%, 38%, 58%, 78%, 98% { width: 100%; opacity: 0; }
}

/* Barra que acompaña la imagen con el texto*/
#presentacion .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   position: absolute;
   bottom: 75px;

}

/* Estilo del texto */
#presentacion .tooltip h1 {
   color: #fff;
   font-size: 24px;
   font-weight: 300;
   line-height: 60px;
   padding: 0 0 0 10px;
}

#presentacion .tooltip {
…
   transition: all 0.3s ease-in-out;
}

/*Se presenta cuando la imagen aparece*/
#presentacion li#first: hover .tooltip,
#presentacion li#second: hover .tooltip,
#presentacion li#third: hover .tooltip,
#presentacion li#fourth: hover .tooltip,
#presentacion li#fifth: hover .tooltip {
   left: 0px;
}

/*Cuando el mouse pasa encima pausa la animación*/
#presentacion: hover li,
#presentacion: hover .progress-bar {
   animation-play-state: paused;
}

/****************/
/* FIN DE PAGINA */

/* Fin es mi "footer" - Pie de pagina. Con clear le indico que se ubique debajo de todo elemento
  que este a izquierda y a derecha. Se alinea el texto al centro y sin decoración */

.fin {
  left: 0;
  right: 0;
  margin: 0;
  clear: both;
  position: block;
  text-align: center;
  text-decoration: none;
  background-color: #009bcc;
  height: 70px;
  font-size: 75%;
}

/* En el fin de pagina, el color del texto es blanco*/
.fin p {
  color: white;
}

/*Los enlaces estarán sin decoración en el fin de pagina*/
.fin a {
  color: white;
  text-decoration: none;
}

#sitemap {
  height: 100%;
  width: 100%;
  margin: 0px auto;
  left: 20px;
  right: 20px;
}


/**************************/
/* PAGINA EN PANTALLA MENOR A 480px DE ANCHO */

@media screen and (max-width: 480px) {

    /*Cada bloque pasa a formar una columa en una pantalla con esa resolución */
    .bloque{
    	width: 100%;
    	height: 100%
    	left:0;
    }

    /* La barra de navegación no se quedará estatica, 
    sino que se moverá con los demás elementos*/
    .navegacion{
      position: static;
    }

    .navegacion ul {
    	position: inline;
    	background-color: #00afe6;
    	text-decoration: none;
    	list-style: none;
    }

    .navegacion li a {
      font-size: 0;
      padding-right: 0px;
      padding: 0;
      margin: 10;
      font-size: 75%;
    }

    /* Se cambia el padding */
    .navegacion li {
      padding-right: 30px;
    }

    /* Como la barra de navegación se mueve con los demás elementos
    grupo no tiene un margin-top.*/
    .grupo{
    	margin-top: 0;
      margin-left: 15px;
      margin-right: 15px;
    }

    /* Disminuyó el ancho del bloque para que se adapte más facil */
    .bloque {
      width: 280px;
    }

    /* Se reune acerca de con el resto de los elementos de la lista de navegación*/
    #acercade {
      float: left;
    }

    /* Se reduce el contenedor de la presentación de imagenes*/
    .contenedor {
      width: 280px;
    }
}


/* Se realiza un par de adaptaciones cuando el alto de la pagina es maximo 460px*/
@media screen and (max-height: 480px) {
  /* La barra de navegación cambia a estatico*/
   .navegacion{
      position: static;
    }

    /* Grupo cambia de margen, debido a la barra de navegación*/
    .grupo{
      margin-top: 0;
    }

}
